<!DOCTYPE html>
<html>
<head>
	<title>Storage</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<div class="index" style="display: none;">
	<div class="head">
		<div class="wrap">
			<p class="name">Storage</p>
		</div>
	</div>
	<div class="main">
		<div class="wrap">
			<div class="nav">
				<div class="item"><p>Statistics</p></div>
				<div class="item"><p>Explorer</p></div>
			</div>
		</div>
	</div>
	<div class="foot"></div>
</div>

<div class="page" data-name="statistics">
	<div class="l">Storage</div>
	<div class="r">Right</div>
</div>

<script type="text/javascript">
var laodPage = function() {
	
};	
</script>

</body>
</html>