body {
	background: #171d25;
	color: #fff;
	position: relative;
	overflow: hidden;
	height: 100%;
}

* {
	-webkit-font-smoothing: antialiased;
	font-family: "Lucida Grande",verdana,sans-serif;
}

.index {
	transition: all 200ms ease-out;
}
.index.hide {
	transition-delay: 180ms;
	-webkit-transform: translateX(-20px);
	opacity: 0;
}
.index .head .wrap,
.index .main .wrap,
.index .foot .wrap {
	width: 960px;
	margin: 0 auto;
}
.index .head .name {
	display: inline-block;
	margin: 28px 0 0 0;
	vertical-align: middle;
	font-size: 32px;
	font-weight: bold;
	margin: 50px 0;
}
.index .main .nav {
	font-size: 24px;
}
.index .main .nav .item {
	margin: 0 0 30px 0;
	/*
	-webkit-transform: translateY(-20px)
	transition: all 200ms ease-out;
	*/
}

.page {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	opacity: 0;
	transition: all 160ms ease-out;
	-webkit-transform: translateX(24px)
}
.page.show {
	opacity: 1;
	-webkit-transform: translateX(0);
	transition-delay: 260ms;
}
.page.show .l {
	position: absolute;
	width: 21%;
	left: 0;
	top: 0;
	bottom: 0;
}
.page .r {
	background-color: #1d242e;
}
.page.show .r {
	position: absolute;
	left: 21%;
	right: 0;
	top: 0;
	bottom: 0;
}